<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片数字盲水印</title>
    <style>
        .border {
            margin: 50px auto;
            padding: 20px;
            width: 500px;
            height: 200px;
            border: 1px solid #F00;
        }

        .explain {
            margin: 50px auto;
            padding: 20px;
            width: 900px;
            height: 750px;
            border: 1px solid gray;
        }

        .border span {
            color: red;
        }

        .head {
            width: 250px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="head">
    <h1>图片数字盲水印</h1>
    <span>*给图片添加看不见的水印</span><br>
    <span>*一定要512*512的图片</span><br>
    <span>*一定要512*512的图片</span><br>
    <span>*一定要512*512的图片</span><br>
    <a href="/dctHtml" align="center">
        <button>DCT水印</button>
    </a><br>
    <a href="/dwtHtml" align="center">
        <button>小波变换水印</button>
    </a>
</div>
</body>
</html>